.idea/*
*pycache*
static/snli_1.0/snli_1.0_train.*
static/snli_1.0/*.train
static/glove/*.txt
static/glove/*.word2vec
*.pyc
*DS_Store*
static/snli_1.0/*.labels
static/snli_1.0/*.s*
230_group_03_02_18.pem
