[submodule "pytorch_classification"]
	path = pytorch_classification
	url = https://github.com/bearpaw/pytorch-classification.git
[submodule "SentEval"]
	path = SentEval
	url = https://github.com/facebookresearch/SentEval.git
